header {
  background-image: url("img/climate.jpeg");
}

#clock{
  padding: 20px;
  color:yellow
}

#loading{
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  visibility: hidden;
  animation: spin 1s infinite linear;
}

#loading.display{
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.twentypx{
  
  padding: 20px;
  color: azure;
}

.tenpx{
  margin: 10px;
  padding: 20px;
  /* color: rgba(255, 255, 255, 0.903); */
}

._800{
  background-image: url("./img/clearSky.jpg");
  color: azure;
}
._200S{
  background-image: url("./img/thunder.jpg");
  color: azure;
}

._300S {
  background-image: url("./img/drizzle.jpg");
  color: azure;
}

._500S {
  background-image: url("./img/rain.jpg");
  color: azure;

}

._600S {
  background-image: url("./img/snow.jpg");
  color: red;

}
._700S {
  background-image: url("./img/atmosphere.jpg");
  color: azure;

}

._800S {
  background-image: url("./img/clouds.jpg");
  color: black;

}

none{
  background-image: url("");
  
}