header {
  background-image: url("img/climate.jpeg");
}

.twentypx{
  
  padding: 20px;
  color: azure;
}

.tenpx{
  margin: 10px;
  padding: 20px;
  /* color: rgba(255, 255, 255, 0.903); */
}

._800{
  background-image: url("./img/clearSky.jpg");
  color: azure;
}
._200S{
  background-image: url("./img/thunder.jpg");
  color: azure;
}

._300S {
  background-image: url("./img/drizzle.jpg");
  color: azure;
}

._500S {
  background-image: url("./img/rain.jpg");
  color: azure;

}

none{
  background-image: url("");
  
}