html {
  background: url("./img/maldives-g64c460793_1920.jpg");
}

header {
  background-image: url("img/header\ 2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#clock {
  padding: 20px;
  color: rgb(255, 255, 255)
}
.navbar-brand{
  color:rgb(255, 255, 255)
}
#loading {
  width: 2rem;
  height: 2rem;
  border: 5px solid orange;
  border-top: 6px solid greenyellow;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display {
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#weather_info {
  margin: auto;
  padding: 10px;
}

.twentypx {

  padding: 20px;
  color: azure;
}

.tenpx {
  margin: 5px;
  /* padding: 20px; */
  /* color: rgba(255, 255, 255, 0.903); */
}

._800 {
  background-image: url("./img/clearSky.jpg");
  color: azure;
}

._200S {
  background-image: url("./img/thunder.jpg");
  color: azure;
}

._300S {
  background-image: url("./img/water-ga6db64033_1920.jpg");
  color: azure;
}

._500S {
  background-image: url("./img/rain.jpg");
  color: black;

}

._600S {
  background-image: url("./img/snow.jpg");
  color: red;

}

._700S {
  background-image: url("./img/atmosphere.jpg");
  color: azure;

}

._800S {
  background-image: url("./img/clouds.jpg");
  color: white;

}

none {
  background-image: url("");

}

#registartion_form {
  display: none;
  color: white;
  margin-left: 50px;
}

#signin_form {
  display: none;
  color: white;
  margin-left: 50px;
}

#message_after_registration {
  display: none;
  color: white;
  margin-left: 300px;
  font-size: large;
}

#city_not_found {
  text-align: center;
  color: red;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: larger;
}


#sign_out {
  display: none;
}

#table {
  margin: auto;
  width: 50%;
  padding: 10px;
  display: none;
}

/******************************************************* News Section *****************************************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}

.fostrap-logo {
  width: 100px;
  margin-bottom: 15px
}

h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}

@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}

@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}

@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
}

.card {
  display: block;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow .25s;
}

.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-card {
  width: 100%;
  height: 200px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  display: block;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all .25s ease;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-title {
  margin-top: 0px;
  font-weight: 700;
  font-size: 1.65em;
}

.card-title a {
  color: #000;
  text-decoration: none !important;
}

.card-read-more {
  border-top: 1px solid #D4D4D4;
}

.card-read-more a {
  text-decoration: none !important;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase
}
.btn-search {
	background: linear-gradient(rgb(57, 57, 231), rgb(92, 166, 230)) ;
    color: #fff;
    border-radius:0;
    border-color:rgb(49, 49, 49);
}
.input-search {
	border-radius:0;
    background-color: #eee;
    box-shadow: none;
    border: none;
  	border-right: 1px solid #eee;
}

.input-search:focus {
	box-shadow: none;
}

.btn-current{
  background: linear-gradient(rgb(57, 57, 231), rgb(92, 166, 230)) ;
    color: #fff;
    border-radius:0;
    border-color:rgb(49, 49, 49);
}

footer{
  background: rgb(182, 180, 180);
}
