html{
background: url("./img/aurora-g8c16a613f_1920.jpg");
}

header {
  background-image: url("img/climate.jpeg");
}

#clock{
  padding: 20px;
  color:yellow
}

#loading{
  width: 2rem;
  height: 2rem;
  border: 5px solid #f3f3f3;
  border-top: 6px solid #9c41f2;
  border-radius: 100%;
  margin: auto;
  display: none;
  animation: spin 1s infinite linear;
}

#loading.display{
  display:block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.twentypx{
  
  padding: 20px;
  color: azure;
}

.tenpx{
  margin: 10px;
  padding: 20px;
  /* color: rgba(255, 255, 255, 0.903); */
}

._800{
  background-image: url("./img/clearSky.jpg");
  color: azure;
}
._200S{
  background-image: url("./img/thunder.jpg");
  color: azure;
}

._300S {
  background-image: url("./img/water-ga6db64033_1920.jpg");
  color: azure;
}

._500S {
  background-image: url("./img/rain.jpg");
  color: azure;

}

._600S {
  background-image: url("./img/snow.jpg");
  color: red;

}
._700S {
  background-image: url("./img/atmosphere.jpg");
  color: azure;

}

._800S {
  background-image: url("./img/clouds.jpg");
  color: black;

}

none{
  background-image: url("");
  
}

#registartion_form{
  display: none;
  color:white;
  margin-left: 50px;
}

#signin_form{
  display: none;
  color:white;
  margin-left: 50px;
}

#message_after_registration{
  display: none;
  color:white;
  margin-left: 300px;
  font-size: large;
}

#city_not_found{
  text-align: center;
  color: red;
  background-image: url("img/snowflakes-g4d0da82e6_1920.jpg");
}